<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorPagesLayoutNestedTests</title>

    <link rel="stylesheet" href="~/Pages/Shared/_Layout.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <h1>_Layout</h1>
    @RenderBody()
    
    <script src="~/Pages/Shared/_Layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>