@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_SubLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/Pages/Index.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/Pages/Index.js" asp-append-version="true"></script>
}

<h3>Index</h3>